.vehicle-card {
  background: #ddd;
  color: #444;
  cursor: pointer;
  display: inline-block;

  line-height: 0.5;
  padding: 10px 50px;
  border-radius: 5px;
  box-shadow: 0 0 5px #000;

  transition: .2s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #000;
    background: #eee;
  }
}


@media (max-width: 640px) {
  h2 {
    text-align: center;
  }
  
  .vehicle-card {
    display: block;
    
    text-align: center;
  }
}