form.form-vehicle {
  width: 65%;
  margin: 0 auto;

  background: #555;
  padding: 10px;

  border-radius: 5px;
  margin-top: 10px;

  box-shadow: 2px 2px 5px #777 inset, 2px 2px 5px #222;

  h2 {
    text-align: center;
  }

  section.inputs {
    display: flex;
    column-gap: 10px;
  }

  button.btn {
    margin-right: 5px;
  }
}



@media (max-width: 640px) {
  form {

    width: 100%;
    margin: 0;
    padding: 0;
    
    h2 {
      padding-top: 20px;
    }
    
    section.inputs {
      display: block;
      width: 90%;
      margin: 0 auto;
    }

    section.buttons {
      display: flex;
      justify-content: center;
    }
  }
}